<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo ao Bate-Papo</title>
</head>
<body>
  <h1>Bem-vindo ao Bate-Papo</h1>

  <p>Preencha os campos abaixo para se cadastrar:</p>
  <form action="/cadastro" method="post">
    <label for="username">Nome de Usuário:</label>
    <input type="text" name="username" required>
    <br>
    <label for="birthdate">Data de Nascimento:</label>
    <input type="date" name="birthdate" required>
    <br>
    <label for="nickname">Nickname:</label>
    <input type="text" name="nickname" required>
    <br>
    <button type="submit">Cadastrar</button>
  </form>
</body>
</html>